html, body {
  margin: 0;
  padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 
}

body {
   background-image: linear-gradient(to bottom right, #454C4E, #202020);
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
}

a{
    font-family: 'Open Sans', sans-serif;
}

.topnav {
position: fixed;
    margin-top: 9%;
    background-color: none;
    overflow: hidden;
    display: flex;
  align-items: center;
  justify-content: center;
    z-index: 100;
    left: 0;
    right: 0;
    
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #888;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
    font-weight: 700;
}

@media only screen and (min-width: 968px) {
    
  .topnav {
      position: absolute;
      display: flex;
      justify-content: flex-end;
    background-color: none;
    overflow: hidden;
    z-index: 100;
margin: auto;
      right: 9%;
    top: 5%;}
    
      .topnav a{ float: left;}
}
.intro-thumb {
  display: block;
  height: 25vh;
  width: 100%;
  position: relative;
}

.full {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
}

a.back {
  color: aqua;
  position: absolute;
  top: 10px;
  left: 10px;
}

.barba-container {
  display: block;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section{
position: relative;
}
.project{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.projectthmb{
    grid-column: 2 / 10;
    grid-row: 3 / 9;
background-image: url(../img/5_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0.2;
    transform: scale(0.9);
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.projectthmb2{
grid-column: 2 / 10;
    grid-row: 3 / 9;
background-image: url(../img/iPS2.324.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0.2;
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transform: scale(0.9);
}

.projectthmb3{
grid-column: 2 / 10;
    grid-row: 3 / 9;
background-image: url(../img/Xpower_Mooncake3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0.2;
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transform: scale(0.9);
}

.projectthmb4{
grid-column: 2 / 10;
    grid-row: 3 / 9;
background-image: url(../img/RD1_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0.2;
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
   transform: scale(0.9);
}

.projectthmb5{
grid-column: 2 / 10;
    grid-row: 3 / 9;
background-image: url(../img/RD1_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0.2;
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
transform: scale(0.9);
}

.projectthmb6{
grid-column: 2 / 10;
    grid-row: 3 / 9;
background-image: url(../img/RD1_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0.2;
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
 transform: scale(0.9);
}

.projecttext, .projecttext2{
    width: 60%;
    height: 20%;
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
   transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.fp-viewing-p1 .projecttext{
    left: 50px;
}

.fp-viewing-p1 .projectthmb{
    opacity: 1;
    margin: 0;
    transform: scale(1);
}

.fp-viewing-p2 .projecttext2{
    left: 60px;
}

.fp-viewing-p2 .projectthmb2{
    opacity: 1;
   transform: scale(1);
}
.fp-viewing-p3 .projectthmb3{
    opacity: 1;
   transform: scale(1);
}

.fp-viewing-p4 .projectthmb4{
    opacity: 1;
transform: scale(1);
}

.fp-viewing-p5 .projectthmb5{
    opacity: 1;
  transform: scale(1);
}

.fp-viewing-p6 .projectthmb6{
    opacity: 1;
transform: scale(1);
}

@media only screen and (min-width: 968px) {
    
    .projectthmb, .projectthmb2{
    grid-column: 4 / 10;
    grid-row: 3 / 10;
    
}