html, body {
  margin: 0;
  padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 
}

body {
   background-image: linear-gradient(to bottom right, #454C4E, #202020);
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
}
.intro-thumb {
  display: block;
  height: 25vh;
  width: 100%;
  position: relative;
}

.full {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
}

a.back {
  color: aqua;
  position: absolute;
  top: 10px;
  left: 10px;
}

.barba-container {
  display: block;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section{
position: relative;
}
.project, .project2{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.projectthmb{
    grid-column: 2 / 10;
    grid-row: 3 / 9;
    background-image: url(../img/2_2.jpg);
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
    opacity: 0.2;
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.projectthmb2{
    grid-column: 2 / 10;
    grid-row: 3 / 9;
    background-image: url(../img/RD1_3.jpg);
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
        opacity: 0.2;
       transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.projecttext, .projecttext2{
    width: 80%;
    height: 20%;
    position: absolute;
    bottom: 50px;
    left: 10px;
   transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
}

.fp-viewing-p1 .projecttext{
    left: 60px;
}

.fp-viewing-p1 .projectthmb{
    opacity: 1;
}

.fp-viewing-p2 .projecttext2{
    left: 100px;
}

.fp-viewing-p2 .projectthmb2{
    opacity: 1;
}
.fitimg {
   
    width: 80%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;

}